<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: Building a Scene Recognition Model form Video Frames</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/video-frame-scene-recognition-model/">https://discovery.cs.illinois.edu/microproject/video-frame-scene-recognition-model/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: Frames of a Video

Visual images are an important part of all media and Data Scientists are often using images as data sources.  In this MicroProject, you will create a simple model to detect the amount of time spent in two different "scenes" we used when creating office-hour style videos for Data Science DISCOVERY.  To do this, you will learn how to import an entire folder of images, preform image analysis, and create your own model without using a pre-build library.  Let's nerd out! :)

> *This MicroProject was inspired by a podcast that we recently recorded with the team from the Center for Innovation in Teaching and Learning who helped produce our video.  To learn the background and hear from Karle and Wade about the journey of creating DISCOVERY, go over and listen to our episode on the "Teach Talk Listen Learn Podcast" where talk with TTLL host Bob Dignan and our CITL video producer Eric Schumacher: https://citl.illinois.edu/citl-101/teaching-learning/teach-talk-listen-learn*

## Loading Video Frames

We have provided you with one frame every second from our video [*"Outliers Impact on Correlation (m6-02b)"*](https://www.youtube.com/watch?v=bd6hQ2UcIJc) that is used as part of our [DISCOVERY lecture covering Correlation](https://discovery.cs.illinois.edu/learn/Towards-Machine-Learning/Correlation/).  Each of these frames are in the `frames` sub-folder.

The `skimage` library is commonly used to load image data into Python.  Specifically:

- The full function name we will be using is `skimage.io.imread(filename)`.  This function will read a filename and return the pixel color for every pixel in the image.

- To use the `imread` function, you will need to either do one of the following:

    1. Import the entire `skimage` library by using the import line: `import skimage`.  After importing all of `skimage`, you will call the function using it's fully qualified name: `skimage.io.imread(filename)`.
    
    **ALTERATIVELY**
    
    2. Import only the `imread` function by using the more specific import line: `from sklearn.io import imread`.  After importing only `imread`, you will call the function directly: `imread(filename)`

    *(People's preference differs on how they prefer to import and use libraries.  Both techniques work! :))*

### Read Pixel Data for `frames/frame_0001.jpg`

As noted earlier, we have provided a `frames` directory with all of the frames.

In the following cell, store the pixel color data from the file named `frames/frame_0001.jpg` image in the variable `pixels` by using the `imread` function:

In [10]:
### ASSIGNMENT CODE for Puzzle 1.1 ==
from skimage.io import imread
pixels = imread("frames/frame_0001.jpg")

### 🔬 Checkpoint Tests 🔬

In [11]:
### TEST CASE for Puzzle 1.1 ==
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("pixels" in vars())
assert(pixels.shape == (360, 640, 3))
assert(pixels[0][0][0] == 91)

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Part 1: Storing Average Pixel Color

The **shape** of your data is the `rows` by `columns` by `color values` as 3-dimensional list.  Here's a formatted view of your `pixels` data:

```
[
  [ [91, 83, 80], [91, 83, 80], [91, 83, 80] ], ... ],   # Row #1
  [ [91, 83, 80], [91, 83, 80], [91, 83, 80] ], ... ],   # Row #2
  ...                                                    # ...
]
```

The current shape of `pixels` is 360 rows by 640 columns by 3 colors (`360` x `640` x `3`).  Each of the three colors represent the three color channels on a screen: red, green, and blue.

Using `pixel.mean()`, we find the average color grouping **ALL** the color channels (combining blues and reds and greens together).  Try it out:

In [ ]:
pixels.mean()

This value is not very useful.  It is the average of red, green, and blue all lumped together -- it would be far more useful to find the average **red**, average **green**, and average **blue** independently.

To do that, we first need to "flatten" the list so that we have a list of only color data instead of a list of rows, columns, and then color data.  That means we want our list to look like the following:

```
[
  [ 91, 83, 80 ],    # Pixel #1 color data
  [ 91, 83, 80 ],    # Pixel #2 color data
  [ 91, 83, 80 ],    # Pixel #3 color data
  ...
]
```

### Using `pixels.reshape()`

Now that we have the desired shape of the list, the `reshape` function can do the hard work!  We know we want the final shape to be `?`x `3`.  As long as you only have one unknown dimensions, Python allows you to provide a `-1` and it will place all of the data there.

That means `pixels.reshape(-1, 3)` will reshape our list to be a single long list of color data.  Let's try out that transformation:

In [12]:
### ASSIGNMENT CODE for Puzzle 1.1 ==
pixels = pixels.reshape(-1, 3)
pixels

array([[ 91,  83,  80],
       [ 91,  83,  80],
       [ 91,  83,  80],
       ...,
       [162, 131, 110],
       [162, 131, 110],
       [162, 131, 110]], dtype=uint8)

Finally, we want the average value of each element of the list.  To do this, `pixels.mean(axis=0)` finds the average color of each element of our newly formatted list of pixels:

In [13]:
### ASSIGNMENT CODE for Puzzle 1.1 ==
pixels.mean(axis=0)

array([88.65917535, 67.45620226, 60.4249783 ])

### Puzzle 1.1: Finding the Average Color of One Image

Given the output you learned above, write the Python code to store `pixel`'s average red value in `r`, average green value in `g`, and average blue value in `b`:

In [14]:
### ASSIGNMENT CODE for Puzzle 1.1 ==
r,g,b = pixels.mean(axis=0)

In [15]:
### TEST CASE for Puzzle 1.1 ==
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

import math
assert("r" in vars())
assert("g" in vars())
assert("b" in vars())
assert(r > 88 and r < 89)
assert(g > 67 and g < 68)
assert(b > 60 and b < 61)

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

### Puzzle 1.2: Finding the Average Color of All Images

The following code loops through every file in the `frames` directory -- this will include `frame_0001.jpg` (like you analyzed already) and also `frame_0002.jpg`, `frame_0003.jpg`, and all 300+ frames!

Create a DataFrame where each row is one frame with the following four columns:
- `frame`, the filename of the frame
- `r`, the average red color of the frame
- `g`, the average green color of the frame
- `b`, the average blue color of the frame

The structure of the code should be nearly **identical to writing a simulation**.  For "Step 3" when you would normally simulate a random variable for the real-world event, you should instead use the real world data.  This real world data will be filename `frame`, and the `r`, `g`, and `b` values should be the average color of that frame.

- See: https://discovery.cs.illinois.edu/learn/Simulation-and-Distributions/Simple-Simulations-in-Python/

In [20]:
### ASSIGNMENT CODE for Puzzle 1.2 ==
import glob
import os
import pandas as pd

data = []
for frame in glob.glob(os.path.join("frames", "*.jpg")): 
  # `frame`` contains the filename of the frame (ex: "frames/frame_0001.jpg").  Use it for `imread` to read the frame image data.
    pix_data = imread(frame)
    r,g,b = pix_data.mean(axis=0).mean(axis=0)
    data.append({
        "frame": frame,
        "r": r,
        "g": g,
        "b": b
    })

df = pd.DataFrame(data)

### 🔬 Checkpoint Tests 🔬

In [21]:
### TEST CASE for Puzzle 1.2 ==
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

import math
assert("df" in vars())
assert(len(df) == 330)
assert("r" in df)
assert("g" in df)
assert("b" in df)
assert("frame" in df)
assert( abs( df[ df.frame.str.endswith("_0001.jpg") ]["r"].sum() - 88 ) < 1 )

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Part 2: Create a Simple Classifier

In the DISCOVERY lecture videos, there are two primary "scenes" in the video:

1. **"Office Hours Studio Scene"**, where Karle and Wade are talking to each other and the audience,

2. **"Notebook Scene"**, where the notebook is displayed

View the `frames` folder on your computer and find **at least three more frames** that are in the "office hours studio scene" and **at least three more frames** that are in the "notebook scene".  Add the frames you found to the list below:

In [22]:
### ASSIGNMENT CODE for Puzzle 2.1 ==
# List of at least four office hour frames by the filename's frame number:
office_hour_frames = [1, 2, 18, 28]

# List of at least four notebook frames by the filename's frame number:
notebook_frames = [34, 43, 51, 59]

### Observing the Average Colors of Your Frames

The following code uses your sample frames to display the average color values for your selected frames.  This information about the average color of the two different type of frames will be useful for you to build the classifier in the next section.

You may want to add more frames into your list above to get more data to help build your classifier.  Run the following code to see the average color values:

In [23]:
import os

print("== Office Hour Frames ==")
print( df[ df["frame"].isin( [os.path.join("frames", f"frame_{frame:04d}.jpg") for frame in office_hour_frames]) ] )
print()
print("== Notebook Frames ==")
print( df[ df["frame"].isin( [os.path.join("frames", f"frame_{frame:04d}.jpg") for frame in notebook_frames]) ] )

== Office Hour Frames ==
                     frame          r          g          b
32   frames/frame_0018.jpg  90.887626  65.819722  58.584336
59   frames/frame_0028.jpg  88.648290  68.291619  60.394323
90   frames/frame_0002.jpg  88.697865  67.453529  60.475660
111  frames/frame_0001.jpg  88.659175  67.456202  60.424978

== Notebook Frames ==
                     frame           r           g           b
2    frames/frame_0051.jpg  233.166128  232.567852  232.814297
113  frames/frame_0034.jpg  237.047144  236.413112  236.723785
182  frames/frame_0043.jpg  233.114714  232.519796  232.737435
292  frames/frame_0059.jpg  230.963220  230.446649  230.651185

### Create Your Classifier Function

A **classifier function** is a function that takes data and gives a classification for that data.  Create a new function, `classifyFrame` that receives an `r`, `g`, and `b` value.

Using information from your frames above, have the function return the string `"office hour"` or `"notebook"` based on the values of `r`, `g`, and `b`.

**IMPORTANT**: Make sure your classifier can handle **ANY** input -- even frames you have not seen before!  For example, you might decide that you will call a frame an `"office hour"` frame if the sum of `r`, `g` and `b` is greater than 100 and otherwise it's a `"notebook"` scene.

In [32]:
### ASSIGNMENT CODE for Puzzle 2.1 ==
def classifyFrame(r, g, b):
  # Return either "office hour" or "notebook" based on the values of `r`, `g`, and `b`.
    if (
        (r >= 220) and
        (g >= 220) and
        (b >= 220)
    ):
        return "notebook"
    return "office hour"

### 🔬 Checkpoint Tests 🔬

In [33]:
### TEST CASE for Puzzle 2.1 ==
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

r = classifyFrame(0, 0, 0)
assert(r == "notebook" or r == "office hour")

r = classifyFrame(255, 255, 255)
assert(r == "notebook" or r == "office hour")

r = classifyFrame(0, 255, 255)
assert(r == "notebook" or r == "office hour")

r = classifyFrame(255, 255, 0)
assert(r == "notebook" or r == "office hour")

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Part 3: Using Your Classifier!

Now that we have a classifier, we should run it on every frame!

The following cell runs your `classifyFrame` classifier on every frame and adds a new column `scene` and displayed 20 random rows:

In [34]:
### ASSIGNMENT CODE for Puzzle 3.1 ==
df["scene"] = df.apply(lambda row: classifyFrame(row.r, row.g, row.b), axis=1)
df.sample(20)

                     frame           r           g           b        scene
320  frames/frame_0308.jpg   89.478576   70.244049   62.887799  office hour
120  frames/frame_0133.jpg   87.152717   67.500911   60.329288  office hour
271  frames/frame_0207.jpg  238.582687  237.834761  235.548589     notebook
72   frames/frame_0229.jpg  244.641215  243.987899  242.140547     notebook
163  frames/frame_0035.jpg  236.984983  236.333863  236.670365     notebook
4    frames/frame_0119.jpg   88.506133   68.405395   61.006675  office hour
319  frames/frame_0189.jpg  233.106046  232.358021  230.135013     notebook
62   frames/frame_0139.jpg   88.495469   68.667118   61.208329  office hour
311  frames/frame_0181.jpg  233.201115  232.446901  230.222227     notebook
100  frames/frame_0254.jpg  244.168351  243.404175  241.751085     notebook
239  frames/frame_0166.jpg   89.799861   69.913568   61.715846  office hour
154  frames/frame_0291.jpg  242.136910  240.985764  239.690690     notebook
114  frames/frame_0278.jpg  243.217405  242.199666  240.911076     notebook
275  frames/frame_0036.jpg  236.922756  236.294588  236.619852     notebook
167  frames/frame_0169.jpg   90.173012   69.815052   61.782305  office hour
67   frames/frame_0130.jpg   87.576359   67.667370   60.460968  office hour
81   frames/frame_0158.jpg  229.913984  229.042569  226.666263     notebook
164  frames/frame_0282.jpg  243.228594  242.192682  240.912921     notebook
37   frames/frame_0225.jpg  244.648372  243.990382  242.127122     notebook
269  frames/frame_0116.jpg   88.151432   68.003542   60.601997  office hour

### 🔬 Checkpoint Tests 🔬

In [35]:
### TEST CASE for Puzzle 3.1 ==
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("scene" in df)

assert(len(df[ df.scene == "notebook" ]) > 100), "There are more than 100 frames that are clearly the notebook.  Make sure your classifier is able to pick up the notebook scene accurately."
assert(len(df[ df.scene == "office hour" ]) > 75), "There are more than 75 frames that are clearly the office hour set.  Make sure your classifier is able to pick up the office hour set scene accurately."
assert(len(df[ df.scene == "notebook" ]) + len(df[ df.scene == "office hour" ]) == len(df)), "Your classifier should must always identify a scene as either a notebook or office hour.  Make sure your classifier always returns one of those two values."

assert( len( df[ (df.frame.str.endswith("0001.jpg")) & (df.scene == "office hour") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0306.jpg")) & (df.scene == "office hour") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0081.jpg")) & (df.scene == "notebook") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0191.jpg")) & (df.scene == "notebook") ] ) == 1 )

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

## Observing Results

In the next 5 cells, we display a frame and you'll run code to check what your classifier classified the frame as being!  Make sure to run the code for each frame:

### Frame #0001: Office Hours

In [36]:
df[ df.frame.str.endswith("0001.jpg") ]

                     frame          r          g          b        scene
111  frames/frame_0001.jpg  88.659175  67.456202  60.424978  office hour

![Frame 0001](frames/frame_0001.jpg)

### Frame #0081: Notebook

In [37]:
df[ df.frame.str.endswith("0081.jpg") ]

                     frame           r           g          b     scene
208  frames/frame_0081.jpg  230.721385  229.915091  230.48303  notebook

![Frame 0001](frames/frame_0081.jpg)

### Frame #0191: Notebook

In [38]:
df[ df.frame.str.endswith("0191.jpg") ]

                     frame           r           g           b     scene
125  frames/frame_0191.jpg  233.117088  232.354644  230.103359  notebook

![Frame 0001](frames/frame_0191.jpg)

### Frame #0306: Office Hours

In [39]:
df[ df.frame.str.endswith("0306.jpg") ]

                     frame          r          g         b        scene
257  frames/frame_0306.jpg  89.403867  70.149223  62.83901  office hour

![Frame 0001](frames/frame_0306.jpg)

### Frame #0320: Data Science Duo Logo???

What did you classify the DUO logo as?  It's nether one, but we don't have that option!

In [40]:
df[ df.frame.str.endswith("0320.jpg") ]

                     frame           r          g          b        scene
179  frames/frame_0320.jpg  221.227565  71.838433  54.457305  office hour

![Frame 0001](frames/frame_0320.jpg)

### Frame #328: Video Credits

What did you classify the video credits as?  It's another tricky one!

In [41]:
df[ df.frame.str.endswith("0328.jpg") ]

                     frame         r         g         b        scene
177  frames/frame_0328.jpg  7.480234  7.481519  7.487826  office hour

![Frame 0328](frames/frame_0328.jpg)

<hr style="color: #DD3403;">

## Part 4: Update Your Classifier to Account with an "Other" Category

Create a second classifier -- `classifyFrame2` -- that returns either `"notebook"`, `"office hour"` or `"other"`.  Your classifier should correctly handle the "Data Science Duo" (ex: #0320) frames and the "Credit" frames (ex: #0328).

In [54]:
### ASSIGNMENT CODE for Puzzle 4.1 ==
def classifyFrame2(r, g, b):
  # Return either "office hour" or "notebook" based on the values of `r`, `g`, and `b`.
    if (
        (r >= 220) and
        (g >= 220) and
        (b >= 220)
    ):
        return "notebook"
    if (
        #(r >= 80 and r <= 100) and
        (g >= 50 and g <= 75) and
        (b >= 45 and b <= 65)
    ):
        return "office hour"
    return "other"

## Apply your `classifyFrame2` function

Using `classifyFrame2`, this code replaces the value in the column `scene` with your `classifyFrame2` classification function.  The output of this cell shows the last frames of the video, which we expect to be `"other"`:

In [55]:
### ASSIGNMENT CODE for Puzzle 4.1 ==
df["scene"] = df.apply(lambda row: classifyFrame2(row.r, row.g, row.b), axis=1)
df.tail(20)

                     frame           r           g           b        scene
310  frames/frame_0183.jpg  233.254275  232.474891  230.252852     notebook
311  frames/frame_0181.jpg  233.201115  232.446901  230.222227     notebook
312  frames/frame_0301.jpg   89.094145   70.042192   62.454501  office hour
313  frames/frame_0311.jpg   89.052721   70.084679   62.528559  office hour
314  frames/frame_0321.jpg  218.887899   80.898411   63.118472        other
315  frames/frame_0236.jpg  244.596463  243.932457  242.092279     notebook
316  frames/frame_0195.jpg  238.826042  238.266740  235.688932     notebook
317  frames/frame_0026.jpg   88.111723   67.775538   59.760907  office hour
318  frames/frame_0269.jpg  243.694002  242.792296  241.296363     notebook
319  frames/frame_0189.jpg  233.106046  232.358021  230.135013     notebook
320  frames/frame_0308.jpg   89.478576   70.244049   62.887799  office hour
321  frames/frame_0216.jpg   87.775230   66.814054   61.303611  office hour
322  frames/frame_0062.jpg  231.124358  230.589631  230.832990     notebook
323  frames/frame_0111.jpg  230.547170  229.876050  227.369436     notebook
324  frames/frame_0326.jpg    7.470391    7.473355    7.479188        other
325  frames/frame_0067.jpg  231.238854  230.684852  230.936467     notebook
326  frames/frame_0012.jpg  106.565577   53.084271   45.153090  office hour
327  frames/frame_0252.jpg  244.168859  243.397960  241.735625     notebook
328  frames/frame_0102.jpg  230.915382  230.227005  227.885560     notebook
329  frames/frame_0044.jpg  233.172648  232.531111  232.777283     notebook

### 🔬 Checkpoint Tests 🔬

In [56]:
### TEST CASE for Puzzle 4.1 ==
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("scene" in df)

assert(len(df[ df.scene == "notebook" ]) > 100)
assert(len(df[ df.scene == "office hour" ]) > 75)
assert(len(df[ df.scene == "other" ]) >= 15)
assert(len(df[ df.scene == "other" ]) <= 18)   # It's okay to classify the intro screens as "other" as well -- but not any others.
assert(len(df[ df.scene == "notebook" ]) + len(df[ df.scene == "office hour" ]) + len(df[ df.scene == "other" ]) == len(df))

assert( len( df[ (df.frame.str.endswith("0001.jpg")) & (df.scene == "office hour") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0306.jpg")) & (df.scene == "office hour") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0081.jpg")) & (df.scene == "notebook") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0191.jpg")) & (df.scene == "notebook") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0317.jpg")) & (df.scene == "other") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0325.jpg")) & (df.scene == "other") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0328.jpg")) & (df.scene == "other") ] ) == 1 )

print(f"{tada} All Tests Passed! {tada}")

AssertionError:

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  ⚠️ **Make certain to save your work.** ⚠️ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the instructions to commit and grade this MicroProject!